.checkbox {
  width: 100%;
  input {
    position: absolute;
    z-index: -10;
    opacity: 0;
  }

  label {
    transition: all 0.2s;
    display: flex;
    position: relative;
    align-items: center;
    user-select: none;
    color: #1a202c;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #edf2f7;
    border-radius: 12px;
  }

  label::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    width: 25px;
    height: 25px;
    border: 2px solid #e2e8f0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  input[type="radio"] ~ label::before {
    border-radius: 50%;
  }

  input:checked + label::before {
    border-color: var(--blue);
    background-color: var(--blue);
  }
  
  input:checked ~ label {
    border-color: var(--blue);
  }

  input:checked + label::after {
    content: '';
    position: absolute;
    right: 19px;
    top: 35%;
    width: 16px;
    height: 8px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0 0 1px 1px / 0 0 1px 1px;
    transform: rotate(-45deg);
    transition: all 0.2s;
  }

  input:checked:focus + label::before {
    border: 2px solid var(--blue);
    transition: all 0.2s;
  }

  input:focus + label::before {
    border: 2px solid var(--blue);
    transition: all 0.2s;
  }

}