.dialog {
  background-color: transparent;

  &__wrapper {
    overflow-x: hidden;
  }

  &__header {
    position: relative;
    padding-bottom: 16px;

    &::after {
      position: absolute;
      content: "";
      background-color: #EDF2F7;
      height: 1px;
      width: 450px;
      bottom: 0;
      left: -24px;
    }
  }

  &__content {
    margin-bottom: 20px;
  }

  .content {

    &__card {
      margin-bottom: 24px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}